@import 'variables';

#about-modal {
    .menuItems {
        background-color: $light;
        margin-right: 70px;
        .menuList {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;   
        }

        a {
            font-size: $fontText;
            color: $dark;
            margin-right: 10px;

            .fa {
                background-color: $light;
                color: $dark;
                margin-right: 0px;
                margin-bottom: 5px;
                height: 60px;
                width: 60px;
            }

            &:hover {
                .fa {
                    background-color: $dark;
                    color: $light;
                    transform: scale(1.2);
                }
            }
        }

        a.active {
            .fa {
                background-color: $dark;
                color: $light;
            }
        }
    }
}
.aboutUs {

    .col {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .right {
        background-color: $dark;
        height: 100vh;
        width: 100%;
    }
    }
    .title {
        padding-bottom: 30px;
    }
    p {
        font-size: $fontText;
        line-height: $fontSmall;
        font-weight: $fontLight;
    }
}