@import 'variables';

.aboutUs {

    .col {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .right {
        background-color: $dark;
    }
    }
    .title {
        padding-bottom: 30px;
    }
    p {
        font-size: $fontText;
        line-height: $fontSmall;
        font-weight: $fontLight;
    }
}