@import 'variables';

.contactUs {
    
    .title, h5{
        color: $light;
    }
    
    img {
        max-height: 100vh;
        width: 100%;
    }
    .form{
        height: 100vh;
        background-color: ;
    }
}
