@import 'variables';

.jumboText {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menuItems {
        background-color: $light;

        a {
            font-size: $fontText;
            color: $dark;

            .fa {
                background-color: $light;
            }
        }
    }
}
.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1{
        font-size: $fontLarge;
    }
    p{
        font-size: $fontText;
    }
}
a.action-btn {
    border: 1px solid $dark;
    background-color: $dark;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: $btn-shadow;
    color: $light;
    text-align: center;
    line-height: 20px;
    &:hover{
        text-decoration: none;
    }

}