@import 'variables';

.comboSection {

    .col {
        height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .title, p {
        padding-left: 30px;
    }
    p{
        font-size: $fontText;
        line-height: $fontSmall;
        font-weight: $fontLight;
    }
    .progressList {
        li{
            color: $dark;
            font-weight: 500;
            line-height: $fontText;
            font-size: $fontText;
            font-family: $font;
        }
    }
    .uk-progress { // this is its background, you could add those to your created classes if you want to also modify this color
        &::-webkit-progress-bar { background-color: $light; }
        &::-moz-progress-bar { background-color: $light; }
    }
    .uk-progress-dark { // created class for customisation
        &::-webkit-progress-value { background-color:$dark; } // those are the overflowing colors
        &::-ms-fill { background-color: $dark; }
    }
    
}